.recording{
    color:red;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.d-flex{
    display: flex;
}